.faq{
  color: #fff;
  margin-bottom: 2rem;

  &__title{
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  // background-color: green;

  &__contents{
    padding: 0rem 4rem;
    &--item{
      padding: 1rem 2.5rem;
      width: calc(100% - 0rem);
      height: 8rem;
      border-radius: 8px;
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #242424;


      animation: var(--animated) .75s linear both;
      -webkit-animation:  var(--animated) .75s linear both;
      &__title{
        font-size: 2.4rem;
      }

      &-btn{
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;

        &:focus{
          outline: none;
          border: none;
        }
      }
    }
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.3, .3, .3);
  transform: scale3d(.3, .3, .3);
  }
  20% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.03, 1.03, 1.03);
  transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  -webkit-transform: scale3d(.97, .97, .97);
  transform: scale3d(.97, .97, .97);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: scale3d(.15, .15, .15);
  transform: scale3d(.15, .15, .15);
  }
  20% {
  -webkit-transform: scale3d(.9, .9, .9);
  transform: scale3d(.9, .9, .9);
  }
  40% {
  -webkit-transform: scale3d(.7, .7, .7);
  transform: scale3d(.7, .7, .7);
  }
  60% {
  opacity: 1;
  -webkit-transform: scale3d(1.01, 1.01, 1.01);
  transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
  -webkit-transform: scale3d(.95, .95, .95);
  transform: scale3d(.95, .95, .95);
  }
  100% {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }