.team{
  color: #fff;
  // background-color: gold;
  min-height: 100vh;

  &__title{
    font-size: 4.5rem;

  }

  &__card{
    // height: 22rem;
    // width: 25%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transform-style: preserve-3d;
    &:hover{
      transform: perspective(1000px);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--content{
      background-color: #242424;
      position: absolute;
      bottom: 0;
      left: 0;
      // right: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      height: 20%;
      width: 100%;
    }

    &--name{
      font-size: 2.5rem;
    }

    &--role{
      font-size: 1.25rem;
    }
  }

  &__content{
    margin: 6.5rem 0 0 0;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width:17.5em) {
  .team{
    color: #fff;
    // background-color: gold;
    min-height: 100vh;
  
    &__title{
      font-size: 4.5rem;
  
    }
  
    &__card{
      // height: 22rem;
      // width: 25%;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      transform-style: preserve-3d;
      &:hover{
        transform: perspective(1000px);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      &--content{
        background-color: #242424;
        position: absolute;
        bottom: 0;
        left: 0;
        // right: 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        height: 20%;
        width: 100%;
      }
  
      &--name{
        font-size: 2.5rem;
      }
  
      &--role{
        font-size: 1.25rem;
      }
    }
  
    &__content{
      margin: 6.5rem 0 0 0;
      padding: 0 4rem;
      display: flex;
      justify-content: space-between;
    }
  }
}