.paint-about{
  height: 100%;
  position:absolute;
  top: -3rem;
  left:50%;
  transform: translateX(-50%);
  width:6rem;
  height: 100%;
  overflow :hidden;

  svg{
    // width: auto;
    height: 100%;
  }
}

@media screen and (max-width:50em) {
  .paint-about{
    height: 100%;
    position:absolute;
    top: -1rem;
    left:95%;
    transform: translateX(-5%);
    width:5rem;
    height: 100%;
    overflow :hidden;
  
    svg{
      // width: auto;
      height: 100%;
    }
  }
}
@media screen and (max-width:37.5em) {
  .paint-about{
    height: 100%;
    position:absolute;
    top: -1rem;
    left:95%;
    transform: translateX(-25%);
    width:5rem;
    height: 100%;
    overflow :hidden;
  
    svg{
      // width: auto;
      height: 100%;
    }
  }
}
@media screen and (max-width: 33.75em){
  .paint-about{
    position:absolute;
    top: 4rem;
    left: -26px;
    transform: translateX(0%);
    height: 100%;
    overflow :hidden;
  
    .paint-about-svg{      // width: 2rem;
      // height: 100%;
      .path-1{
        width: 2rem;
        stroke: gold;
      }
      .path-2{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: .5rem !important;
        transform: translateX(2px);
      }
      .path-3{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: 1.5rem !important;
        
      }
    }
  }
}

@media screen and (max-width: 26.25em){
  .paint-about{
    position:absolute;
    top: 4rem;
    left: -16px;
    transform: translateX(0%);
    height: 100%;
    overflow :hidden;
  
    .paint-about-svg{      // width: 2rem;
      // height: 100%;
      .path-1{
        width: 2rem;
        stroke: gold;
      }
      .path-2{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: .5rem !important;
        transform: translateX(2px);
      }
      .path-3{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: 1.5rem !important;
        
      }
    }
  }
}
@media screen and (max-width: 22.5em){
  .paint-about{
    position:absolute;
    top: 4rem;
    left: -16px;
    transform: translateX(0%);
    height: 100%;
    overflow :hidden;
  
    .paint-about-svg{      // width: 2rem;
      // height: 100%;
      .path-1{
        width: 2rem;
        stroke: gold;
      }
      .path-2{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: .5rem !important;
        transform: translateX(2px);
      }
      .path-3{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: 1.5rem !important;
        
      }
    }
  }
}
@media screen and (max-width: 20em){
  .paint-about{
    position:absolute;
    top: 4rem;
    left: -16px;
    transform: translateX(0%);
    height: 100%;
    overflow :hidden;
  
    .paint-about-svg{      // width: 2rem;
      // height: 100%;
      .path-1{
        width: 2rem;
        stroke: gold;
      }
      .path-2{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: .5rem !important;
        transform: translateX(2px);
      }
      .path-3{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: 1.5rem !important;
        
      }
    }
  }
}
@media screen and (max-width: 17.5em){
  .paint-about{
    position:absolute;
    top: -5px;
    left: -15px;
    transform: translateX(0%);
    height: 100%;
    overflow :hidden;
  
    .paint-about-svg{      // width: 2rem;
      // height: 100%;
      .path-1{
        width: 2rem;
        stroke: gold;
      }
      .path-2{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: .5rem !important;
        transform: translateX(2px);
      }
      .path-3{
        // width: 1rem !important;
        // height: 1rem !important;
        stroke-width: 1.5rem !important;
        
      }
    }
  }
}