.header{
  min-height: 100vh;
  padding: 0 4rem ;
  display: flex;
  
  z-index: -5 ;
  &__contents{
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: lightblue;
    align-items: flex-start;
    flex: .6;
    height: 100%;
    &--title{
      color: #fff;
      font-size: 5rem;
      // line-height: 1rem;
      text-align: left;
      margin-bottom: 3rem;
    }

    &--text{
      font-size: 2.5rem;
      color: #D2D2D2;
      margin-bottom: 2rem;
      text-align: left;
    }
    &--btns{
      align-self: flex-start;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;

      .custom-btn:first-of-type {
        margin-right: 2rem !important;
      }
    }


  }

  &__link-btn{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

    margin: 1.5rem 0 2rem 0;

    span{
      height: 100%;
      margin-right: 1rem;
      font-size: 1.65rem;
      text-decoration: underline;
    }

    svg{
      height: 100%;
      animation: rubberBand .8s linear infinite;
    }

    &:focus{
      outline: none;
      border: none;
    }
  }
  &__main{
    flex: .4;
    height: 100%;
    display: flex;
    flex: wrap;
    position: relative;

    &--img-container{
      position: absolute;
      width: 19rem;

      
      height: 22rem;

      margin: 1.5rem;
      border-radius: 6px;
      overflow: hidden;

      &-new{
        top: -12rem;
        right: -1rem;
      }

      &-1{
        top: 12rem;
        right: -1rem;
      }
      &-2{
        top: 36rem;
        right: -1rem;
      }
      &-3{
        display: none;
        top: -6px;
        right: 5rem;
      }
      &-4{
        top: 5px;
        right: 24rem;
      }
      &-5{
        top: 26rem;
        right: 24rem;
      }

    }
  }
}


@-webkit-keyframes pulsate {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
50% {
-webkit-transform: scale3d(1.05, 1.05, 1.05);
transform: scale3d(1.05, 1.05, 1.05);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
@keyframes pulsate {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
50% {
-webkit-transform: scale3d(1.05, 1.05, 1.05);
transform: scale3d(1.05, 1.05, 1.05);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
} 

@-webkit-keyframes rubberBand {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  30% {
  -webkit-transform: scale3d(1.25, 0.75, 1);
  transform: scale3d(1.25, 0.75, 1);
  }
  40% {
  -webkit-transform: scale3d(0.75, 1.25, 1);
  transform: scale3d(0.75, 1.25, 1);
  }
  50% {
  -webkit-transform: scale3d(1.15, 0.85, 1);
  transform: scale3d(1.15, 0.85, 1);
  }
  65% {
  -webkit-transform: scale3d(.95, 1.05, 1);
  transform: scale3d(.95, 1.05, 1);
  }
  75% {
  -webkit-transform: scale3d(1.05, .95, 1);
  transform: scale3d(1.05, .95, 1);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
0% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
30% {
-webkit-transform: scale3d(1.25, 0.75, 1);
transform: scale3d(1.25, 0.75, 1);
}
40% {
-webkit-transform: scale3d(0.75, 1.25, 1);
transform: scale3d(0.75, 1.25, 1);
}
50% {
-webkit-transform: scale3d(1.15, 0.85, 1);
transform: scale3d(1.15, 0.85, 1);
}
65% {
-webkit-transform: scale3d(.95, 1.05, 1);
transform: scale3d(.95, 1.05, 1);
}
75% {
-webkit-transform: scale3d(1.05, .95, 1);
transform: scale3d(1.05, .95, 1);
}
100% {
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}

@media screen and (max-width:71.875em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .55;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 4.5rem;
        text-align: left;
        margin-bottom: 2rem;
      }
  
      &--text{
        font-size: 2.5rem;
        color: #D2D2D2;
        margin-bottom: 2rem;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .45;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 18rem;
  
        
        height: 22rem;
  
        margin: 1.5rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 12rem;
          right: -1rem;
        }
        &-2{
          top: 36rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 24rem;
        }
        &-5{
          top: 26rem;
          right: 24rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin: 1.5rem 0 2rem 0;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:65.625em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 4rem;
        text-align: left;
        margin-bottom: 2.5rem;
      }
  
      &--text{
        font-size: 2.5rem;
        color: #D2D2D2;
        margin-bottom: 2rem;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 18rem;
  
        
        height: 22rem;
  
        margin: 1.5rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 12rem;
          right: -1rem;
        }
        &-2{
          top: 36rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 24rem;
        }
        &-5{
          top: 26rem;
          right: 24rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:62.5em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3.5rem;
        text-align: left;
        margin-bottom: 2.5rem;
      }
  
      &--text{
        font-size: 2.3rem;
        color: #D2D2D2;
        margin-bottom: 2rem;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 16rem;
  
        
        height: 20rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 10.5rem;
          right: -1rem;
        }
        &-2{
          top: 33rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 20rem;
        }
        &-5{
          top: 23rem;
          right: 20rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


@media screen and (max-width:52.8125em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3.2rem;
        text-align: left;
        margin-bottom: 2.5rem;
      }
  
      &--text{
        font-size: 2rem;
        color: #D2D2D2;
        margin-bottom: 2rem;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 16rem;
  
        
        height: 20rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 10.5rem;
          right: -1rem;
        }
        &-2{
          top: 33rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 20rem;
        }
        &-5{
          top: 23rem;
          right: 20rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


@media screen and (max-width:50.625em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3.1rem;
        text-align: left;
        margin-bottom: 2.3rem;
      }
  
      &--text{
        font-size: 1.9rem;
        color: #D2D2D2;
        margin-bottom: 1.6rem;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 16rem;
  
        
        height: 20rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 10.5rem;
          right: -1rem;
        }
        &-2{
          top: 33rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 20rem;
        }
        &-5{
          top: 23rem;
          right: 20rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


@media screen and (max-width:49.375em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3.1rem;
        text-align: left;
        margin-bottom: 2.3rem;
      }
  
      &--text{
        font-size: 1.9rem;
        color: #D2D2D2;
        margin-bottom: 1.6rem;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 15rem;
  
        
        height: 19rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 10.5rem;
          right: -1rem;
        }
        &-2{
          top: 33rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 18rem;
        }
        &-5{
          top: 23rem;
          right: 18rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


@media screen and (max-width:47.5em) {
  .header{
    min-height: 100vh;
    padding: 0 4rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 2.3rem;
      }
  
      &--text{
        font-size: 1.76rem;
        color: #D2D2D2;
        margin-bottom: 1.5rem;
        padding: 0 8px;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 15rem;
  
        
        height: 19rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 10.5rem;
          right: -1rem;
        }
        &-2{
          top: 33rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 17rem;
        }
        &-5{
          top: 23rem;
          right: 17rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


@media screen and (max-width:45em) {
  .header{
    min-height: 100vh;
    padding: 0 3rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 2.3rem;
      }
  
      &--text{
        font-size: 1.76rem;
        color: #D2D2D2;
        margin-bottom: 1.5rem;
        padding: 0 8px;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 14.5rem;
  
        
        height: 17.5rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -12rem;
          right: -1rem;
        }
  
        &-1{
          top: 10.5rem;
          right: -1rem;
        }
        &-2{
          top: 33rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 17rem;
        }
        &-5{
          top: 23rem;
          right: 17rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:43.125em) {
  .header{
    min-height: 100vh;
    padding: 0 3rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 3rem;
        text-align: left;
        margin-bottom: 2.3rem;
      }
  
      &--text{
        font-size: 1.76rem;
        color: #D2D2D2;
        margin-bottom: 1.5rem;
        padding: 0 8px;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 14rem;
  
        
        height: 17rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -10rem;
          right: -1rem;
        }
  
        &-1{
          top: 9rem;
          right: -1rem;
        }
        &-2{
          top: 28rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 15rem;
        }
        &-5{
          top: 20rem;
          right: 15rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}

@media screen and (max-width:40.625em) {
  .header{
    min-height: 100vh;
    padding: 0 1.8rem ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top: 3.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.7rem;
        text-align: left;
        margin-bottom: 2.1rem;
      }
  
      &--text{
        font-size: 1.625rem;
        color: #D2D2D2;
        margin-bottom: 1.5rem;
        padding: 0 9px;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 13rem;
  
        
        height: 17rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          top: -10rem;
          right: -1rem;
        }
  
        &-1{
          top: 9rem;
          right: -1rem;
        }
        &-2{
          top: 28rem;
          right: -1rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 5px;
          right: 14.5rem;
        }
        &-5{
          top: 20rem;
          right: 14.5rem;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: 1.5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.65rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}

@media screen and (max-width:36.875em) {
  .header{
    min-height: 100vh;
    padding: 0  1.8rem 0 1.8rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      // flex: 1;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.7rem;
        text-align: left;
        margin-bottom: 1rem;
      }
  
      &--text{
        font-size: 1.625rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      // flex: 1;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;
        width: 13rem;

        height: 17rem;
  
        margin: 1.25rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: 12.9rem;
        }
        &-2{
          top: 0rem;
          left: 27rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: 41rem;
        }
        &-5{
          top: 0rem;
          left: -13px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: .5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


@media screen and (max-width:36.25em) {
  .header{
    min-height: 100vh;
    padding: 0  1.8rem 0 1.8rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:.5rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: 1;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.7rem;
        text-align: left;
        margin-bottom: 1rem;
      }
  
      &--text{
        font-size: 1.625rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: left;
      }
      &--btns{
        align-self: flex-start;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
  
        .custom-btn:first-of-type {
          margin-right: 2rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: 1;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;

        width: 20%;

        height: 16rem;
  
        margin: 1.2rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: 12.9rem;
        }
        &-2{
          top: 0rem;
          left: 27rem;
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: 41rem;
        }
        &-5{
          top: 0rem;
          left: -13px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: .5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}



@media screen and (max-width:33.75em) {
  .header{
    min-height: 100vh;
    padding: 0  1.9rem 0 1.9rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:0rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .45;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.9rem;
        text-align: center;
        margin-bottom: 0rem;
      }
  
      &--text{
        font-size: 1.8rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: center;
      }
      &--btns{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
  
        .custom-btn:first-of-type {
          margin-right: 1rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .55;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap !important;
      
      position: relative;
  
      &--img-container{
        position: absolute;

        // width: 23vw;
        width:12rem;

        height: 15rem;

        // width: 68px;

        // height: 9.5rem;
  
        margin: 0rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -6px;
        }
  
        &-1{
          top: 0rem;
          left: calc(12rem + 4px);
        }
        &-2{
          top: 0rem;
          left: calc(24rem + 14px);
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: calc(38rem + 12px);
        }
        &-5{
          top: 0rem;
          left: -14px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      margin-left: 3.3rem;
  
      margin-top: .25rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:26.25em) {
  .header{
    min-height: 100vh;
    padding: 0  1.9rem 0 1.9rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:0rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .45;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.9rem;
        text-align: center;
        margin-bottom: 0rem;
      }
  
      &--text{
        font-size: 1.8rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: center;
      }
      &--btns{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
  
        .custom-btn:first-of-type {
          margin-right: 1rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .55;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap !important;
      
      position: relative;
  
      &--img-container{
        position: absolute;

        // width: 23vw;
        width: 90px;

        height: 12rem;

        // width: 68px;

        // height: 9.5rem;
  
        margin: 0rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: calc(8rem + 4px);
        }
        &-2{
          top: 0rem;
          left: calc(17rem + 14px);
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: calc(27rem + 12px);
        }
        &-5{
          top: 0rem;
          left: -14px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      margin-left: 3.3rem;
  
      margin-top: .25rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:23.75em) {
  .header{
    min-height: 100vh;
    padding: 0  1.9rem 0 1.9rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:0rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .45;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.9rem;
        text-align: center;
        margin-bottom: 0rem;
      }
  
      &--text{
        font-size: 1.8rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: center;
      }
      &--btns{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
  
        .custom-btn:first-of-type {
          margin-right: 1rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .55;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap !important;
      
      position: relative;
  
      &--img-container{
        position: absolute;

        // width: 23vw;
        width: 80px;

        height: 11rem;

        // width: 68px;

        // height: 9.5rem;
  
        margin: 0rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: calc(7rem + 4px);
        }
        &-2{
          top: 0rem;
          left: calc(15rem + 14px);
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: calc(24rem + 12px);
        }
        &-5{
          top: 0rem;
          left: -14px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      margin-left: 3.3rem;
  
      margin-top: .25rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:22.5em) {
  .header{
    min-height: 100vh;
    padding: 0  1.9rem 0 1.9rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:0rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .45;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.9rem;
        text-align: center;
        margin-bottom: 0rem;
      }
  
      &--text{
        font-size: 1.8rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: center;
      }
      &--btns{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
  
        .custom-btn:first-of-type {
          margin-right: 1rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .55;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap !important;
      
      position: relative;
  
      &--img-container{
        position: absolute;

        // width: 23vw;
        width: 80px;

        height: 11rem;

        // width: 68px;

        // height: 9.5rem;
  
        margin: 0rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: calc(7rem + 4px);
        }
        &-2{
          top: 0rem;
          left: calc(15rem + 14px);
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: calc(24rem + 12px);
        }
        &-5{
          top: 0rem;
          left: -14px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      margin-left: 3.3rem;
  
      margin-top: .25rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}

@media screen and (max-width:20em) {
  .header{
    min-height: 100vh;
    padding: 0  1.9rem 0 1.9rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:0rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .45;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.9rem;
        text-align: center;
        margin-bottom: 0rem;
      }
  
      &--text{
        font-size: 1.8rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: center;
      }
      &--btns{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
  
        .custom-btn:first-of-type {
          margin-right: 1rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .55;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap !important;

      position: relative;
  
      &--img-container{
        position: absolute;

        // width: 23vw;
        // width: 76px;

        // height: 10.5rem;

        width: 68px;

        height: 9.5rem;
  
        margin: 0rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: calc(6rem + 4px);
        }
        &-2{
          top: 0rem;
          left: calc(12.95rem + 12px);
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: calc(21rem + 12px);
        }
        &-5{
          top: 0rem;
          left: -14px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
      margin-left: 3.3rem;
  
      margin-top: .25rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}
@media screen and (max-width:17.5em) {
  .header{
    min-height: 100vh;
    padding: 0  1.8rem 0 1.8rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    z-index: -5 ;
    &__contents{
      padding-top:0rem;
  
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: lightblue;
      align-items: flex-start;
      flex: .5;
      height: 100%;
      &--title{
        color: #fff;
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 0rem;
      }
  
      &--text{
        font-size: 1.625rem;
        color: #D2D2D2;
        margin-bottom: .5rem;
        padding: 0;
        text-align: center;
      }
      &--btns{
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0;
  
        .custom-btn:first-of-type {
          margin-right: 1rem !important;
        }
      }
  
  
    }
  

    &__main{
      flex: .5;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
  
      &--img-container{
        position: absolute;

        width: 66px;

        height: 9rem;
  
        margin: 0rem;
        border-radius: 6px;
        overflow: hidden;
  
        &-new{
          display: none;
          // top: -10rem;
          // right: -1rem;

          top: 0rem;
          left: -13px;
        }
  
        &-1{
          top: 0rem;
          left: calc(5rem + 4px);
        }
        &-2{
          top: 0rem;
          left: calc(11.95rem + 4px);
        }
        &-3{
          display: none;
          top: -6px;
          right: 5rem;
        }
        &-4{
          top: 0rem;
          left: calc(19rem + 3px);
        }
        &-5{
          top: 0rem;
          left: -14px;
        }
  
      }
    }

    &__link-btn{
      font-family: 'Source Sans Pro', sans-serif;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      border: none;
      outline: none;
      cursor: pointer;
  
      margin-top: .5rem;
  
      span{
        height: 100%;
        margin-right: 1rem;
        font-size: 1.5rem;
        text-decoration: underline;
      }
  
      svg{
        height: 100%;
        animation: rubberBand .8s linear infinite;
      }
  
      &:focus{
        outline: none;
        border: none;
      }
    }
  }
}


